/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

a, button {
    cursor: revert;
}

ol, ul {
    list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    background-color: #181818;
    color: #fff;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.hero-img {
    width: 250px; 
    height: 180px; 
    border-radius: 10px;
}
